services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend/src:/app/src
      - ./backend/data/templates:/app/data/templates
      - ./backend/.env:/app/src/.env
    environment:
      - PYTHONPATH=/app/src
      - LOG_LEVEL=20
      - 'ALLOWED_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000","http://frontend:3000"]'
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_BACKEND_URL=localhost:8000
      - VITE_PROTOCOL=http
      - VITE_WS_PROTOCOL=ws
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
